<a href="https://colab.research.google.com/github/Sylwiaes/numpy_pandas_cwiczenia/blob/main/02_pandas_cwiczenia/151_160_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 151](#1)
* [Ćwiczenie 152](#2)
* [Ćwiczenie 153](#3)
* [Ćwiczenie 154](#4)
* [Ćwiczenie 155](#5)
* [Ćwiczenie 156](#6)
* [Ćwiczenie 157](#7)
* [Ćwiczenie 158](#8)
* [Ćwiczenie 159](#9)
* [Ćwiczenie 160](#10)

### <a name='0'></a>Import biblioteki

In [ ]:
import numpy as np
import pandas as pd

np.random.seed(42)
np.__version__

'1.19.5'

### <a name='1'></a> Ćwiczenie 151
Podany jest poniższy obiekt _DataFrame:_

```
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
```

In [ ]:
# tutaj wpisz rozwiązanie
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.212339  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632  0.808397
9  0.304614  0.097672  0.684233  0.440152

Wytnij wiersze obiektu _df_ dla których kolumna _C_ jest większa niż 0.8.  
Pomocniczo: Analogicznie jak w jezyku SQL poniższe zapytanie:


```
SELECT * FROM df WHERE C > 0.8
```

In [ ]:
# tutaj wpisz rozwiązanie
df[df['C'] > 0.8]

          A         B         C         D
8  0.065052  0.948886  0.965632  0.808397

### <a name='2'></a> Ćwiczenie 152

Wytnij wiersze obiektu _df_ dla których kolumna _C_ jest większa niż 0.3 oraz kolumna _D_ jest mniejsza niż 0.7.

In [ ]:
# tutaj wpisz rozwiązanie
df[(df['C'] > 0.3) & (df['D'] < 0.7)]

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
4  0.304242  0.524756  0.431945  0.291229
7  0.592415  0.046450  0.607545  0.170524
9  0.304614  0.097672  0.684233  0.440152

### <a name='3'></a> Ćwiczenie 153
Dokonaj iteracji po pierwszych pięciu wierszach obiektu _df_. Każdy wiersz wydrukuj do konsoli.

__Wskazówka:__ Wykorzystaj funkcję _pd.DataFrame.iterrows()_.

In [ ]:
# tutaj wpisz rozwiązanie
for index, row in df.head().iterrows():
    print(row)

A    0.374540
B    0.950714
C    0.731994
D    0.598658
Name: 0, dtype: float64
A    0.156019
B    0.155995
C    0.058084
D    0.866176
Name: 1, dtype: float64
A    0.601115
B    0.708073
C    0.020584
D    0.969910
Name: 2, dtype: float64
A    0.832443
B    0.212339
C    0.181825
D    0.183405
Name: 3, dtype: float64
A    0.304242
B    0.524756
C    0.431945
D    0.291229
Name: 4, dtype: float64

### <a name='4'></a> Ćwiczenie 154
Ustaw wartość w wierszu o indeksie 3 dla kolumny B jako _np.nan_.
Wykorzystaj _df.iloc_.

In [ ]:
# tutaj wpisz rozwiązanie
df.iloc[3, 1] = np.nan

Ustaw wartość w wierszu o indeksie 8 dla kolumny D jako _np.nan_. Wykorzystaj _df.loc_.

In [ ]:
# tutaj wpisz rozwiązanie
df.loc[8, 'D'] = np.nan

Wyświetl obiekt _df_.

In [ ]:
# tutaj wpisz rozwiązanie
df

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.212339  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632  0.808397
9  0.304614  0.097672  0.684233  0.440152

### <a name='5'></a> Ćwiczenie 155
Usuń wszystkie wiersze z obiektu _df_ zawierające braki danych i przypisz do zmiennej _df1_. Wyświetl zmienną _df1_.

In [ ]:
# tutaj wpisz rozwiązanie
df1 = df.dropna()
df1

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.212339  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632  0.808397
9  0.304614  0.097672  0.684233  0.440152

### <a name='6'></a> Ćwiczenie 156
Zauważ, że indeks po usunięciu dwóch wieszy w obiekcie _df1_ nie jest po kolei. Zresetuj indeks, aby wprowadzić kolejność (nie dodawaj nowej kolumny, tylko zreseuj indeks). Wyświetl zmienną _df1_.

In [ ]:
# tutaj wpisz rozwiązanie
df1 = df1.reset_index(drop=True)
df1

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.212339  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632  0.808397
9  0.304614  0.097672  0.684233  0.440152

### <a name='7'></a> Ćwiczenie 157
Wracamy do obiektu _df_. Wyznacz liczbę brakujących elementów w obiekcie _df_ dla każdej kolumny.

In [ ]:
# tutaj wpisz rozwiązanie
df.isnull().sum()

A    0
B    0
C    0
D    0
dtype: int64

### <a name='8'></a> Ćwiczenie 158
Uzupełnij brakujące wartości wartością 0 i przypisz do zmiennej _df_.

In [ ]:
# tutaj wpisz rozwiązanie
df = df.fillna(0)
df

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.212339  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632  0.808397
9  0.304614  0.097672  0.684233  0.440152

### <a name='9'></a> Ćwiczenie 159
Zamień kolejność kolumn w obiekcie _df_ na podaną poniżej:
* D, A, B, C  

i przypisz do zmiennej _df_.

In [ ]:
# tutaj wpisz rozwiązanie
df = df[['D', 'A', 'B', 'C']]
df

          D         A         B         C
0  0.598658  0.374540  0.950714  0.731994
1  0.866176  0.156019  0.155995  0.058084
2  0.969910  0.601115  0.708073  0.020584
3  0.183405  0.832443  0.212339  0.181825
4  0.291229  0.304242  0.524756  0.431945
5  0.366362  0.611853  0.139494  0.292145
6  0.514234  0.456070  0.785176  0.199674
7  0.170524  0.592415  0.046450  0.607545
8  0.808397  0.065052  0.948886  0.965632
9  0.440152  0.304614  0.097672  0.684233

### <a name='10'></a> Ćwiczenie 160
Usuń kolumnę $D$ z obiektu _df_.

In [ ]:
# tutaj wpisz rozwiązanie
df.drop('D', axis=1) #I sposób

          A         B         C
0  0.374540  0.950714  0.731994
1  0.156019  0.155995  0.058084
2  0.601115  0.708073  0.020584
3  0.832443  0.212339  0.181825
4  0.304242  0.524756  0.431945
5  0.611853  0.139494  0.292145
6  0.456070  0.785176  0.199674
7  0.592415  0.046450  0.607545
8  0.065052  0.948886  0.965632
9  0.304614  0.097672  0.684233

In [ ]:
del df['D'] #II sposób
df

          A         B         C
0  0.374540  0.950714  0.731994
1  0.156019  0.155995  0.058084
2  0.601115  0.708073  0.020584
3  0.832443  0.212339  0.181825
4  0.304242  0.524756  0.431945
5  0.611853  0.139494  0.292145
6  0.456070  0.785176  0.199674
7  0.592415  0.046450  0.607545
8  0.065052  0.948886  0.965632
9  0.304614  0.097672  0.684233